body {
    background-image: url(https://images.unsplash.com/photo-1523821741446-edb2b68bb7a0?ixlib=rb-1.2.1&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 0rem;
}

footer {
    text-align: center;
    color: lightgrey;
    font-size: 10px;
    padding: 5px;
    padding-bottom: 0px;
    margin-top: 60px;
}

p {
    margin-bottom: 0rem;
}

.col-lg-8 {
    background-color: whitesmoke;
}

#aboutImg {
    float: left;
}
